.attackElement{
    border: 2px solid black;
    margin: 10px;
    background-color: white;
    transition: all 0.7s;
}

.playerBoardElement {
    border: 2px solid black;
    margin: 3px;  
    background-color: white;
    transition: all 0.7s;
}

.attackElementContainer, .playerBoardElementContainer {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#top {
    height: 8vh;
}

#workspace {
    display: grid;
    grid-template: 80vh / 25vw 60vw;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attackGround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attackedZone {
    background-color: rgb(255, 153, 0);
}

.hitShip {
    background-color: rgb(255, 0, 0);
    
}

.sunkShip {
    background-color: black;
}

#whoPlaysContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 40%;
    height: 3vh;
}

.selection{
    z-index: 1;
    text-justify: center;
    text-align: center;
    width: 50%;
}

#selector {
    position: absolute;
    background-color: rgba(121, 130, 131, 0.444);
    width: 50%;
    height: 100%;
    z-index: 2;
    left: 0%;
    transition: all 0.6s ease-in-out
}

#selector.cpu {
    left: 50%;
}