.attackElement{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    transition: all 0.7s;
    height: 22px;
    width: 22px;
}

.playerBoardElement {
    border: 1px solid black;
    padding: 3px;  
    background-color: white;
    transition: all 0.7s;
    height: 16px;
    width: 16px;
}

.attackElementContainer, .playerBoardElementContainer {
    display: flex;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#top {
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
}

#workspace {
    display: grid;
    grid-template: 80vh / 25vw 60vw;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#attackGround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attackedZone {
    background-color: rgb(255, 153, 0);
}

.hitShip {
    background-color: rgb(255, 0, 0);
    
}

.sunkShip {
    background-color: rgb(40, 40, 40);
}

#whoPlaysContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 70%;
    height: 5vh;
}

.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-justify: center;
    text-align: center;
    width: 50%;
    font-size: large;
    font-weight: bold;
}

#selector {
    position: absolute;
    background-color: rgba(121, 130, 131, 0.444);
    width: 50%;
    border-radius: 4px;
    height: 100%;
    z-index: 2;
    left: 0%;
    transition: all 0.6s ease-in-out
}

#selector.cpu {
    left: 50%;
}

#foot{
    display: flex;
    position: fixed;
    bottom: 0px;
    background-color: #cfcaca;
    width: 100%;
    height: 4%;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}

